/* RESET AND FONT FAMILY */
*,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: white;
}

a {
  all: unset;
  cursor: pointer;
}

a:visited {
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: #3257a8;
  position: fixed;
  width: 100%;
  height: 4.3rem;
  z-index: 100;
}

.header__icon {
  font-size: 3rem;
  padding: 3px 0;
  color: whitesmoke;
}

.hamburger {
  font-size: 3rem;
  color: whitesmoke;
}

.header_links {
  font-size: 3vw;
  display: none;
}

.nav__link {
  padding: 0 3px;
}

/* Main Landing Page */
.landing_page {
  padding-top: 43px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-image: url(../pics/circuts.jpg);
  background-size: cover;
  background-position: 83%;
  position: relative;
  z-index: 1;
}

.jumbotron::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #00000038 47%, #ffffff44 100%);
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.splash_text {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  margin: 0 1.3rem;
  color: azure;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  font-weight: 200;
}

.splash_button {
  width: 50%;
  background: #3257a8ec;
  padding: 1rem 0;
  border-radius: 3px;
  color: rgb(223, 223, 223);
  font-weight: 400;
}

.splash_button:last-of-type {
  margin-top: 1.2rem;
}

.splash_button:hover {
  cursor: pointer;
}

/* About Me */
.about__me {
  background-color: #ffffff;
}

h2 {
  text-align: center;
  font-weight: 300;
}

.home_header {
  margin: 2rem 0;
}

.section_header1 {
  font-size: 3rem;
  margin: 5rem 0rem;
}

.icon {
  height: 7rem;
}

.icon1 {
  filter: invert(45%) sepia(50%) saturate(6362%) hue-rotate(191deg)
    brightness(104%) contrast(106%);
}
.icon2 {
  filter: invert(19%) sepia(99%) saturate(6215%) hue-rotate(268deg)
    brightness(89%) contrast(134%);
}
.icon3 {
  filter: invert(16%) sepia(95%) saturate(4208%) hue-rotate(316deg)
    brightness(96%) contrast(114%);
}
.icon4 {
  filter: invert(12%) sepia(98%) saturate(4961%) hue-rotate(351deg)
    brightness(100%) contrast(115%);
}
.icon5 {
  filter: invert(9%) sepia(100%) saturate(7419%) hue-rotate(244deg)
    brightness(96%) contrast(137%);
}

.icon6 {
  filter: invert(47%) sepia(65%) saturate(2390%) hue-rotate(0deg)
    brightness(102%) contrast(104%);
}

.icon_info {
  font-size: 1.2rem;
  padding-top: 2rem;
}

.home_service_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 3px;
}

.home_service_sections {
  text-align: center;
  flex-basis: 45%;
  padding: 6px 0;
  margin-bottom: 4rem;
}

/* Info */
.info {
  background-color: #f4f7f9;
  margin-top: 4rem;
}

.info_container {
  text-align: center;
  margin: 0 4rem;
  border-bottom: 3px solid grey;
  padding-top: 1.5rem;
  padding-bottom: 1.8rem;
}

.info_title {
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.info_sub {
  font-size: 1.3rem;
}

.sub_sub {
  font-size: 1rem;
}

/* Restaurant Mangement */
.section_header2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.restMgr_icon {
  width: 2rem;
  height: 2rem;
}

/* Vector */
.vector_lead {
  width: 100vw;
}

/* JS Classes */
.fade {
  opacity: 0.6;
  transition: all 1s;
}

/* Media Queries */
@media screen and (min-width: 589px) {
  .header_links {
    font-size: 17px;
  }
}

@media screen and (min-width: 468px) {
  .header_links {
    display: block;
  }
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 329px) {
  .splash-text {
    height: 70%;
  }
}

/* JS */
