/* RESET AND FONT FAMILY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

a:visited {
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: cornflowerblue;
  position: fixed;
  width: 100%;
  height: 4.3rem;
}

.header__icon {
  font-size: 3rem;
  padding: 3px 0;
}

.hamburger {
  font-size: 3rem;
}

.header_links {
  font-size: 3vw;
  display: none;
}

.nav__link {
  padding: 0 3px;
}

/* Main Splash Page */
.landing_page {
  padding-top: 43px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  background: url(../pics/techMain.jpg);
  background-position: 53% 48%;
}

.splash_text {
  font-size: 3rem;
  text-align: center;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.splash_button {
  width: 33%;
  background: red;
  padding: 3px 0;
  border-radius: 3px;
}

.splash_button:last-of-type {
  margin-top: 1.2rem;
}

/* About Me */
.about__me {
  height: 100vh;
}

/* JS Classes */
.fade {
  opacity: 0.6;
  transition: all 1s;
}

/* Media Queries */
@media screen and (min-width: 589px) {
  .header_links {
    font-size: 17px;
  }
}

@media screen and (min-width: 468px) {
  .header_links {
    display: block;
  }
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 329px) {
  .splash-text {
    height: 70%;
  }
}
